.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

flask_server/venv
venv
flask_server/env
env
flask_server/venv_old
venv_old
flask_server/linkage_matrix.npy
__pycache__/